.BookEvent{
  width: 75%;
  float: right;
  margin: 150px 10px 10px 50px;
  background-color: #f2f2f2;

}
.container {
  display: flex;
  border-radius: 5px;
  background-color:#f2f2f2;
}

.column1{
  flex-direction:column;
  width: 50%;
}
.column2{
  flex-direction:column;
  width: 50%;
  margin-top: 68px;
}
.h2{
  margin-left: 10px;
}
.label{
  display: block;
  padding-top: 10px;
  margin-left: 12px;
}
.input{
  background-color: #FAFCFC;
  border: none;
  color: #0d0d0d;
  width: 80%;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid #719CEB;
  margin: 10px 0px 10px 12px;
  padding: 5px 0px 5px 2px;
}
.textarea{
  background-color: #FAFCFC;
  border: none;
  color: #0d0d0d;
  width: 80%;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid #719CEB;
  margin: 10px 0px 10px 12px;
  padding: 5px 0px 5px 2px;
}
.lunch{
  background-color: #FAFCFC;
  border: none;
  color: #0d0d0d;
  width: 80%;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid #719CEB;
  margin: 128px 0px 10px 12px;
  padding: 5px 0px 5px 2px;
}
.coffee{
  margin-top: 70px;
  margin-left: 10px;
}

.coffeecost{
  background-color: #FAFCFC;
  border: none;
  color: #0d0d0d;
  width: 80%;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid #719CEB;
  margin: 44px 0px 10px 12px;
  padding: 5px 0px 5px 2px;
}
.equipment{
  margin-top: 60px;
  margin-left: 10px;
}

.equipmentcost{
  background-color: #FAFCFC;
  border: none;
  color: #0d0d0d;
  width: 80%;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid #719CEB;
  margin: 33px 0px 10px 12px;
  padding: 5px 0px 5px 2px;
}

.submitBtn{
  background-color: #A9C3F3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 20px;
  width: 100px;
}

.submitBtn:hover {
  background-color: #719CEB;
}
